{% extends 'base.html' %}

{% block content %}
    <h2>Operation Successful!</h2>
    <p>The operation was completed successfully.</p>
    <a href="{% url 'generate_barcode' %}">Generate More Barcodes</a>
    <br><br>
    <a href="{% url 'barcode_list' %}">View Generated Barcodes Folders</a>
    <br><br> 
    <a href="{% url 'last_barcode_generated_list' %}">View Last Generated Folder</a>
    <br><br>
    <a href="{% url 'last_qr_code_generated_list' %}">View Last Generated QR Codes</a>
    <br><br>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}
